<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Faiyum Reference</title>
  <link href="https://db.onlinewebfonts.com/c/bd8f2339b2b82680dfebf3384fd55f24?family=CCCutthroat"  rel="stylesheet" type="text/css">
  <link href="https://db.onlinewebfonts.com/c/4bbda310a6791726ea9bd2874f1737d6?family=Myriad+Condensed" rel="stylesheet">
</head>

<body style="background-color: #efe8dc; font-family:Myriad Condensed; font-size: 20px; max-width: 700px;">
  {% block content %} {% endblock %}
</body>
</html>
